body.v35 div.i1 {
    background-image: url("../../../img/l/m1.gif");
}

body.v35 div.i2 {
    background-image: url("../../../img/l/m2.gif");
}

body.v35 div.i3 {
    background-image: url("../../../img/l/m3.gif");
}

body.v35 div.i4 {
    background-image: url("../../../img/l/m4.gif");
}

body.v3 div.i1 {
    background-image: url("../../../img/l/m1_30.gif");
}

body.v3 div.i2 {
    background-image: url("../../../img/l/m2_30.gif");
}

body.v3 div.i3 {
    background-image: url("../../../img/l/m3_30.gif");
}

body.v3 div.i4 {
    background-image: url("../../../img/l/m4_30.gif");
}

img.building {
    height: 100px;
    width: 75px;
}

img.g16, img.g16b, img.g16n, img.dx1 {
    height: 120px;
    width: 69px;
}

img.g40, img.ww {
    width: 214px;
}

img.g1 {
    background-image: url("../../../img/g/g1.gif");
}

img.g2 {
    background-image: url("../../../img/g/g2.gif");
}

img.g3 {
    background-image: url("../../../img/g/g3.gif");
}

img.g4 {
    background-image: url("../../../img/g/g4.gif");
}

img.g5 {
    background-image: url("../../../img/g/g5.gif");
}

img.g5b {
    background-image: url("../../../img/g/g5b.gif");
}

img.g6 {
    background-image: url("../../../img/g/g6.gif");
}

img.g6b {
    background-image: url("../../../img/g/g6b.gif");
}

img.g7 {
    background-image: url("../../../img/g/g7.gif");
}

img.g7b {
    background-image: url("../../../img/g/g7b.gif");
}

img.g8 {
    background-image: url("../../../img/g/g8.gif");
}

img.g8b {
    background-image: url("../../../img/g/g8b.gif");
}

img.g9 {
    background-image: url("../../../img/g/g9.gif");
}

img.g9b {
    background-image: url("../../../img/g/g9b.gif");
}

img.g10 {
    background-image: url("../../../img/g/g10.gif");
}

img.g10b {
    background-image: url("../../../img/g/g10b.gif");
}

img.g11 {
    background-image: url("../../../img/g/g11.gif");
}

img.g11b {
    background-image: url("../../../img/g/g11b.gif");
}

img.g12 {
    background-image: url("../../../img/g/g12.gif");
}

img.g12b {
    background-image: url("../../../img/g/g12b.gif");
}

img.g13 {
    background-image: url("../../../img/g/g13.gif");
}

img.g13b {
    background-image: url("../../../img/g/g13b.gif");
}

img.g14 {
    background-image: url("../../../img/g/g14.gif");
}

img.g14b {
    background-image: url("../../../img/g/g14b.gif");
}

img.g15 {
    background-image: url("../../../img/g/g15.gif");
}

img.g15b {
    background-image: url("../../../img/g/g15b.gif");
}

img.g16 {
    background-image: url("../../../img/g/g16.gif");
}

img.g16b {
    background-image: url("../../../img/g/g16b.gif");
}

img.g16e {
    background-image: url("../../../img/g/g16e.gif");
}

img.g17 {
    background-image: url("../../../img/g/g17.gif");
}

img.g17b {
    background-image: url("../../../img/g/g17b.gif");
}

img.g18 {
    background-image: url("../../../img/g/g18.gif");
}

img.g18b {
    background-image: url("../../../img/g/g18b.gif");
}

img.g19 {
    background-image: url("../../../img/g/g19.gif");
}

img.g19b {
    background-image: url("../../../img/g/g19b.gif");
}

img.g20 {
    background-image: url("../../../img/g/g20.gif");
}

img.g20b {
    background-image: url("../../../img/g/g20b.gif");
}

img.g21 {
    background-image: url("../../../img/g/g21.gif");
}

img.g21b {
    background-image: url("../../../img/g/g21b.gif");
}

img.g22 {
    background-image: url("../../../img/g/g22.gif");
}

img.g22b {
    background-image: url("../../../img/g/g22b.gif");
}

img.g23 {
    background-image: url("../../../img/g/g23.gif");
}

img.g23b {
    background-image: url("../../../img/g/g23b.gif");
}

img.g24 {
    background-image: url("../../../img/g/g24.gif");
}

img.g24b {
    background-image: url("../../../img/g/g24b.gif");
}

img.g25 {
    background-image: url("../../../img/g/g25.gif");
}

img.g25b {
    background-image: url("../../../img/g/g25b.gif");
}

img.g26 {
    background-image: url("../../../img/g/g26.gif");
}

img.g26b {
    background-image: url("../../../img/g/g26b.gif");
}

img.g27 {
    background-image: url("../../../img/g/g27.gif");
}

img.g27b {
    background-image: url("../../../img/g/g27b.gif");
}

img.g28 {
    background-image: url("../../../img/g/g28.gif");
}

img.g28b {
    background-image: url("../../../img/g/g28b.gif");
}

img.g29 {
    background-image: url("../../../img/g/g29.gif");
}

img.g29b {
    background-image: url("../../../img/g/g29b.gif");
}

img.g30 {
    background-image: url("../../../img/g/g30.gif");
}

img.g30b {
    background-image: url("../../../img/g/g30b.gif");
}

img.g34 {
    background-image: url("../../../img/g/g34.gif");
}

img.g34b {
    background-image: url("../../../img/g/g34b.gif");
}

img.g36 {
    background-image: url("../../../img/g/g36.gif");
}

img.g36b {
    background-image: url("../../../img/g/g36b.gif");
}

img.g37 {
    background-image: url("../../../img/g/g37.gif");
}

img.g37b {
    background-image: url("../../../img/g/g37b.gif");
}

img.g38 {
    background-image: url("../../../img/g/g38.gif");
}

img.g38b {
    background-image: url("../../../img/g/g38b.gif");
}

img.g39 {
    background-image: url("../../../img/g/g39.gif");
}

img.g39b {
    background-image: url("../../../img/g/g39b.gif");
}

img.g40 {
    background-image: url("../../../img/g/g40.gif");
    height: 154px;
}

img.g40_1 {
    background-image: url("../../../img/g/g40_1.gif");
    height: 167px;
}

img.g40_2 {
    background-image: url("../../../img/g/g40_2.gif");
    height: 193px;
}

img.g40_3 {
    background-image: url("../../../img/g/g40_3.gif");
    height: 230px;
}

img.g40_4 {
    background-image: url("../../../img/g/g40_4.gif");
    height: 239px;
}

img.g40_5 {
    background-image: url("../../../img/g/g40_5.gif");
    height: 302px;
}

img.g41 {
    background-image: url("../../../img/g/g41.gif");
}

img.g41b {
    background-image: url("../../../img/g/g41b.gif");
}

img.g42 {
    background-image: url("../../../img/g/g42.gif");
}

img.g42b {
    background-image: url("../../../img/g/g42b.gif");
}

img.g43 {
    background-image: url("../../../img/g/g43.gif");
}

img.g43b {
    background-image: url("../../../img/g/g43b.gif");
}

img.g44 {
    background-image: url("../../../img/g/g44.gif");
}

img.g44b {
    background-image: url("../../../img/g/g44b.gif");
}

body.manual img.troops {
    background-image: url("../../../img/a/troops.gif");
    height: 89px;
    width: 140px;
}

body.manual img.buildings {
    background-image: url("../../../img/a/buildings.gif");
    height: 89px;
    width: 140px;
}

body.manual img.navi {
    background-image: url("../../../img/a/navi.gif");
    height: 18px;
    width: 116px;
}

body.manual img#big_unit {
    height: 120px;
    width: 150px;
}

body.manual img.big_u1 {
    background-image: url("../../../img/u2/u1.gif");
}

body.manual img.big_u2 {
    background-image: url("../../../img/u2/u2.gif");
}

body.manual img.big_u3 {
    background-image: url("../../../img/u2/u3.gif");
}

body.manual img.big_u4 {
    background-image: url("../../../img/u2/u4.gif");
}

body.manual img.big_u5 {
    background-image: url("../../../img/u2/u5.gif");
}

body.manual img.big_u6 {
    background-image: url("../../../img/u2/u6.gif");
}

body.manual img.big_u7 {
    background-image: url("../../../img/u2/u7.gif");
}

body.manual img.big_u8 {
    background-image: url("../../../img/u2/u8.gif");
}

body.manual img.big_u9 {
    background-image: url("../../../img/u2/u9.gif");
}

body.manual img.big_u10 {
    background-image: url("../../../img/u2/u10.gif");
}

body.manual img.big_u11 {
    background-image: url("../../../img/u2/u11.gif");
}

body.manual img.big_u12 {
    background-image: url("../../../img/u2/u12.gif");
}

body.manual img.big_u13 {
    background-image: url("../../../img/u2/u13.gif");
}

body.manual img.big_u14 {
    background-image: url("../../../img/u2/u14.gif");
}

body.manual img.big_u15 {
    background-image: url("../../../img/u2/u15.gif");
}

body.manual img.big_u16 {
    background-image: url("../../../img/u2/u16.gif");
}

body.manual img.big_u17 {
    background-image: url("../../../img/u2/u17.gif");
}

body.manual img.big_u18 {
    background-image: url("../../../img/u2/u18.gif");
}

body.manual img.big_u19 {
    background-image: url("../../../img/u2/u19.gif");
}

body.manual img.big_u20 {
    background-image: url("../../../img/u2/u20.gif");
}

body.manual img.big_u21 {
    background-image: url("../../../img/u2/u21.gif");
}

body.manual img.big_u22 {
    background-image: url("../../../img/u2/u22.gif");
}

body.manual img.big_u23 {
    background-image: url("../../../img/u2/u23.gif");
}

body.manual img.big_u24 {
    background-image: url("../../../img/u2/u24.gif");
}

body.manual img.big_u25 {
    background-image: url("../../../img/u2/u25.gif");
}

body.manual img.big_u26 {
    background-image: url("../../../img/u2/u26.gif");
}

body.manual img.big_u27 {
    background-image: url("../../../img/u2/u27.gif");
}

body.manual img.big_u28 {
    background-image: url("../../../img/u2/u28.gif");
}

body.manual img.big_u29 {
    background-image: url("../../../img/u2/u29.gif");
}

body.manual img.big_u30 {
    background-image: url("../../../img/u2/u30.gif");
}

div.error_site img.e403 {
    background-image: url("../../../img/misc/403.gif");
    height: 211px;
    width: 165px;
}