div.player img.t1_9 {
    background-image: url("../../../img/t/t1_9.jpg");
}

div.player img.t1_10 {
    background-image: url("../../../img/t/t1_10.jpg");
}

div.player img.t100_1 {
    background-image: url("../../../img/t/t100_1.jpg");
}

div.player img.t101_1 {
    background-image: url("../../../img/t/t101_1.jpg");
}

div.player img.t102_1 {
    background-image: url("../../../img/t/t102_1.jpg");
}

div.player img.t110_1 {
    background-image: url("../../../img/t/t110_1.jpg");
}

div.player img.t111_1 {
    background-image: url("../../../img/t/t111_1.jpg");
}

div.player img.t112_1 {
    background-image: url("../../../img/t/t112_1.jpg");
}

div.player img.t120_1 {
    background-image: url("../../../img/t/t120_1.jpg");
}

div.player img.t121_1 {
    background-image: url("../../../img/t/t121_1.jpg");
}

div.player img.t122_1 {
    background-image: url("../../../img/t/t122_1.jpg");
}

div.player img.t130_1 {
    background-image: url("../../../img/t/t130_1.jpg");
}

div.player img.t131_1 {
    background-image: url("../../../img/t/t131_1.jpg");
}

div.player img.t132_1 {
    background-image: url("../../../img/t/t132_1.jpg");
}

div.player img.t140_1 {
    background-image: url("../../../img/t/t140_1.jpg");
}

div.player img.t141_1 {
    background-image: url("../../../img/t/t141_1.jpg");
}

div.player img.t142_1 {
    background-image: url("../../../img/t/t142_1.jpg");
}

div.player img.t150_1 {
    background-image: url("../../../img/t/t150_1.jpg");
}

div.player img.t151_1 {
    background-image: url("../../../img/t/t151_1.jpg");
}

div.player img.t152_1 {
    background-image: url("../../../img/t/t152_1.jpg");
}

div.player img.t160_1 {
    background-image: url("../../../img/t/t160_1.jpg");
}

div.player img.t161_1 {
    background-image: url("../../../img/t/t161_1.jpg");
}

div.player img.t162_1 {
    background-image: url("../../../img/t/t162_1.jpg");
}

div.player img.t170_1 {
    background-image: url("../../../img/t/t170_1.jpg");
}

div.player img.t171_1 {
    background-image: url("../../../img/t/t171_1.jpg");
}

div.player img.t172_1 {
    background-image: url("../../../img/t/t172_1.jpg");
}

div.player img.t180_1 {
    background-image: url("../../../img/t/t180_1.jpg");
}

div.player img.t181_1 {
    background-image: url("../../../img/t/t181_1.jpg");
}

div.player img.t182_1 {
    background-image: url("../../../img/t/t182_1.jpg");
}

div.player img.t190_1 {
    background-image: url("../../../img/t/t190_1.jpg");
}

div.player img.t191_1 {
    background-image: url("../../../img/t/t191_1.jpg");
}

div.player img.t192_1 {
    background-image: url("../../../img/t/t192_1.jpg");
}

div.player img.t2_1 {
    background-image: url("../../../img/t/t2_1.jpg");
}

div.player img.t2_10 {
    background-image: url("../../../img/t/t2_10.jpg");
}

div.player img.t2_2 {
    background-image: url("../../../img/t/t2_2.jpg");
}

div.player img.t2_3 {
    background-image: url("../../../img/t/t2_3.jpg");
}

div.player img.t2_4 {
    background-image: url("../../../img/t/t2_4.jpg");
}

div.player img.t2_5 {
    background-image: url("../../../img/t/t2_5.jpg");
}

div.player img.t2_6 {
    background-image: url("../../../img/t/t2_6.jpg");
}

div.player img.t2_7 {
    background-image: url("../../../img/t/t2_7.jpg");
}

div.player img.t2_8 {
    background-image: url("../../../img/t/t2_8.jpg");
}

div.player img.t2_9 {
    background-image: url("../../../img/t/t2_9.jpg");
}

div.player img.t200_1 {
    background-image: url("../../../img/t/t200_1.jpg");
}

div.player img.t201_1 {
    background-image: url("../../../img/t/t201_1.jpg");
}

div.player img.t202_1 {
    background-image: url("../../../img/t/t202_1.jpg");
}

div.player img.t210_1 {
    background-image: url("../../../img/t/t210_1.jpg");
}

div.player img.t211_1 {
    background-image: url("../../../img/t/t211_1.jpg");
}

div.player img.t212_1 {
    background-image: url("../../../img/t/t212_1.jpg");
}

div.player img.t220_1 {
    background-image: url("../../../img/t/t220_1.jpg");
}

div.player img.t221_1 {
    background-image: url("../../../img/t/t221_1.jpg");
}

div.player img.t222_1 {
    background-image: url("../../../img/t/t222_1.jpg");
}

div.player img.t3_1 {
    background-image: url("../../../img/t/t3_1.jpg");
}

div.player img.t3_10 {
    background-image: url("../../../img/t/t3_10.jpg");
}

div.player img.t3_2 {
    background-image: url("../../../img/t/t3_2.jpg");
}

div.player img.t3_3 {
    background-image: url("../../../img/t/t3_3.jpg");
}

div.player img.t3_4 {
    background-image: url("../../../img/t/t3_4.jpg");
}

div.player img.t3_5 {
    background-image: url("../../../img/t/t3_5.jpg");
}

div.player img.t3_6 {
    background-image: url("../../../img/t/t3_6.jpg");
}

div.player img.t3_7 {
    background-image: url("../../../img/t/t3_7.jpg");
}

div.player img.t3_8 {
    background-image: url("../../../img/t/t3_8.jpg");
}

div.player img.t3_9 {
    background-image: url("../../../img/t/t3_9.jpg");
}

div.player img.t4_1 {
    background-image: url("../../../img/t/t4_1.jpg");
}

div.player img.t4_10 {
    background-image: url("../../../img/t/t4_10.jpg");
}

div.player img.t4_2 {
    background-image: url("../../../img/t/t4_2.jpg");
}

div.player img.t4_3 {
    background-image: url("../../../img/t/t4_3.jpg");
}

div.player img.t4_4 {
    background-image: url("../../../img/t/t4_4.jpg");
}

div.player img.t4_5 {
    background-image: url("../../../img/t/t4_5.jpg");
}

div.player img.t4_6 {
    background-image: url("../../../img/t/t4_6.jpg");
}

div.player img.t4_7 {
    background-image: url("../../../img/t/t4_7.jpg");
}

div.player img.t4_8 {
    background-image: url("../../../img/t/t4_8.jpg");
}

div.player img.t4_9 {
    background-image: url("../../../img/t/t4_9.jpg");
}

div.player img.t5_1 {
    background-image: url("../../../img/t/t5_1.jpg");
}

div.player img.t5_10 {
    background-image: url("../../../img/t/t5_10.jpg");
}

div.player img.t5_2 {
    background-image: url("../../../img/t/t5_2.jpg");
}

div.player img.t5_3 {
    background-image: url("../../../img/t/t5_3.jpg");
}

div.player img.t5_4 {
    background-image: url("../../../img/t/t5_4.jpg");
}

div.player img.t5_5 {
    background-image: url("../../../img/t/t5_5.jpg");
}

div.player img.t5_6 {
    background-image: url("../../../img/t/t5_6.jpg");
}

div.player img.t5_7 {
    background-image: url("../../../img/t/t5_7.jpg");
}

div.player img.t5_8 {
    background-image: url("../../../img/t/t5_8.jpg");
}

div.player img.t5_9 {
    background-image: url("../../../img/t/t5_9.jpg");
}

div.player img.t6_1 {
    background-image: url("../../../img/t/t6_1.jpg");
}

div.player img.t6_10 {
    background-image: url("../../../img/t/t6_10.jpg");
}

div.player img.t6_2 {
    background-image: url("../../../img/t/t6_2.jpg");
}

div.player img.t6_3 {
    background-image: url("../../../img/t/t6_3.jpg");
}

div.player img.t6_4 {
    background-image: url("../../../img/t/t6_4.jpg");
}

div.player img.t6_5 {
    background-image: url("../../../img/t/t6_5.jpg");
}

div.player img.t6_6 {
    background-image: url("../../../img/t/t6_6.jpg");
}

div.player img.t6_7 {
    background-image: url("../../../img/t/t6_7.jpg");
}

div.player img.t6_8 {
    background-image: url("../../../img/t/t6_8.jpg");
}

div.player img.t6_9 {
    background-image: url("../../../img/t/t6_9.jpg");
}

div.player img.t10_1 {
    background-image: url("../../../img/t/t10_1.jpg");
}

div.player img.t10_2 {
    background-image: url("../../../img/t/t10_2.jpg");
    height: 195px;
    width: 247px;
}

div.player div#gpack_popup {
    background-image: url("../../../img/a/gp.gif");
}

div.player div#gpack_popup img.logo {
    height: 40px;
    width: 40px;
}

div.player div#gpack_popup img.firefox {
    background-image: url("../../../img/a/firefox.gif");
}

div.player div#gpack_popup img.opera {
    background-image: url("../../../img/a/opera.gif");
}

div.player div#gpack_popup img.ie {
    background-image: url("../../../img/a/ie.gif");
}

div.player div#gpack_popup img.unknown {
    background-image: url("../../../img/a/unknown.gif");
}

div.player div#gpack_popup div#gpack_activate img#preview {
    background-image: none;
    height: 0;
    width: 0;
}