div#mbig div#map div#map_content div#i_11_12 {
    left: 850px;
    top: 200px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_0 {
    left: 455px;
    top: 460px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_1 {
    left: 491px;
    top: 440px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_2 {
    left: 527px;
    top: 420px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_3 {
    left: 563px;
    top: 400px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_4 {
    left: 599px;
    top: 380px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_5 {
    left: 635px;
    top: 360px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_6 {
    left: 671px;
    top: 340px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_7 {
    left: 707px;
    top: 320px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_8 {
    left: 743px;
    top: 300px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_9 {
    left: 779px;
    top: 280px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_10 {
    left: 815px;
    top: 260px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_11 {
    left: 851px;
    top: 240px;
    z-index: 13;
}

div#mbig div#map div#map_content div#i_12_12 {
    left: 887px;
    top: 220px;
    z-index: 13;
}

div.map div#map div#map_rulers {
    height: 316px;
    left: 5px;
    top: 34px;
    width: 540px;
    z-index: 30;
}

div.map div#map div#map_rulers #mx0 {
    left: 9px;
    top: 172px;
}

div.map div#map div#map_rulers #mx1 {
    left: 45px;
    top: 192px;
}

div.map div#map div#map_rulers #mx2 {
    left: 81px;
    top: 212px;
}

div.map div#map div#map_rulers #mx3 {
    left: 117px;
    top: 232px;
}

div.map div#map div#map_rulers #mx4 {
    left: 153px;
    top: 252px;
}

div.map div#map div#map_rulers #mx5 {
    left: 189px;
    top: 272px;
}

div.map div#map div#map_rulers #mx6 {
    left: 225px;
    top: 292px;
}

div.map div#map div#map_rulers #my0 {
    left: 9px;
    top: 128px;
}

div.map div#map div#map_rulers #my1 {
    left: 45px;
    top: 108px;
}

div.map div#map div#map_rulers #my2 {
    left: 81px;
    top: 88px;
}

div.map div#map div#map_rulers #my3 {
    left: 117px;
    top: 68px;
}

div.map div#map div#map_rulers #my4 {
    left: 153px;
    top: 48px;
}

div.map div#map div#map_rulers #my5 {
    left: 189px;
    top: 28px;
}

div.map div#map div#map_rulers #my6 {
    left: 225px;
    top: 8px;
}

div#mbig div#map div#map_rulers {
    height: 550px;
    left: 0;
    top: 0;
    width: 971px;
    z-index: 10;
}

div#mbig div#map div#map_rulers div#mx0 {
    left: 4px;
    top: 288px;
}

div#mbig div#map div#map_rulers div#mx1 {
    left: 40px;
    top: 308px;
}

div#mbig div#map div#map_rulers div#mx2 {
    left: 76px;
    top: 328px;
}

div#mbig div#map div#map_rulers div#mx3 {
    left: 112px;
    top: 348px;
}

div#mbig div#map div#map_rulers div#mx4 {
    left: 148px;
    top: 368px;
}

div#mbig div#map div#map_rulers div#mx5 {
    left: 184px;
    top: 388px;
}

div#mbig div#map div#map_rulers div#mx6 {
    left: 220px;
    top: 408px;
}

div#mbig div#map div#map_rulers div#mx7 {
    left: 256px;
    top: 428px;
}

div#mbig div#map div#map_rulers div#mx8 {
    left: 292px;
    top: 448px;
}

div#mbig div#map div#map_rulers div#mx9 {
    left: 328px;
    top: 469px;
}

div#mbig div#map div#map_rulers div#mx10 {
    left: 364px;
    top: 489px;
}

div#mbig div#map div#map_rulers div#mx11 {
    left: 400px;
    top: 509px;
}

div#mbig div#map div#map_rulers div#mx12 {
    left: 436px;
    top: 529px;
}

div#mbig div#map div#map_rulers div#my0 {
    left: 4px;
    top: 244px;
}

div#mbig div#map div#map_rulers div#my1 {
    left: 40px;
    top: 224px;
}

div#mbig div#map div#map_rulers div#my2 {
    left: 76px;
    top: 204px;
}

div#mbig div#map div#map_rulers div#my3 {
    left: 112px;
    top: 184px;
}

div#mbig div#map div#map_rulers div#my4 {
    left: 148px;
    top: 164px;
}

div#mbig div#map div#map_rulers div#my5 {
    left: 184px;
    top: 144px;
}

div#mbig div#map div#map_rulers div#my6 {
    left: 220px;
    top: 124px;
}

div#mbig div#map div#map_rulers div#my7 {
    left: 256px;
    top: 104px;
}

div#mbig div#map div#map_rulers div#my8 {
    left: 292px;
    top: 84px;
}

div#mbig div#map div#map_rulers div#my9 {
    left: 328px;
    top: 64px;
}

div#mbig div#map div#map_rulers div#my10 {
    left: 364px;
    top: 43px;
}

div#mbig div#map div#map_rulers div#my11 {
    left: 400px;
    top: 23px;
}

div#mbig div#map div#map_rulers div#my12 {
    left: 436px;
    top: 3px;
}

div#mbig div#map div#map_rulers div#mapa {
    height: 548px;
    width: 960px;
}

div.map h1 div {
    float: left;
}

div.map div#dmain {
    left: 25px;
    margin-bottom: -16px;
    position: relative;
    top: -7px;
    z-index: 100;
}

div.map img#detailed_map {
    float: left;
    left: 15px;
    margin-bottom: 15px;
    position: relative;
}

div.map div#map_details {
    float: right;
    margin-right: 3px;
    margin-top: 25px;
}

div.map div#map_details table {
    margin-bottom: 15px;
}

div.map table#options {
    clear: both;
    margin: 0 25px;
}

div.map table#raidFavs {
    margin: 0 auto;
}

div.map table#raidDetails {
    margin: 25px auto 0;
}

div.map table.tableNone {
    background-color: #FFFFFF;
}

div.map table.tableNone thead th {
    background-color: #FFFFFF;
    background-image: none;
    text-align: left;
}

div.map table.tableNone thead th div {
    float: left;
}

div.map table.tableNone tbody td, div.map table.tableNone tbody th {
    padding: 1px 4px;
}

div#map table#map_infobox {
    line-height: 19px;
    width: 170px;
}

div#map table#map_infobox th, div#map table#map_infobox td {
    line-height: 15px;
    padding: 1px 5px;
}

div#map table#map_infobox thead th {
    text-align: center;
}

div#map table#map_infobox tbody th {
    width: 45%;
}

div#map table.default, div#map table.empty, div#map table.oasis_empty {
    background-color: #F0F0F0;
}

div#map table.village, div#map table.oasis {
    background-color: #C0C0C0;
}

div#map table.default thead th, div#map table.empty thead th, div#map table.oasis_empty thead th {
    background-color: #FFFFFF;
    background-image: none;
}

div#map table.village thead th, div#map table.oasis thead th {
    background-image: url("../../../img/a/c2.gif");
    background-repeat: repeat;
}

div.map table#village_info {
    width: 227px;
}

div.map table#village_info tbody th {
    width: 50%;
}

div.map table#village_info tbody td {
    font-weight: bold;
}

div.map table#troop_info {
    width: 227px;
}

div.map table#troop_info .ico {
    width: 10%;
}

div.map table#troop_info .val {
    padding-left: 10px;
    text-align: right;
    width: 10%;
}

div.map table#troop_info .val {
    font-weight: bold;
}

div.map table#troop_info ul {
    margin: 0 0 0 2px;
    padding-left: 12px;
}

div.map table#troop_info.rep tbody {
    line-height: 16px;
}

div.map table#troop_info.rep img {
    float: left;
    margin-right: 5px;
}

div.map table#distribution {
    width: 227px;
}

div.map table#distribution .ico {
    width: 10%;
}

div.map table#distribution .val {
    padding-left: 10px;
    text-align: right;
    width: 10%;
}

div.map table#distribution .val {
    font-weight: bold;
}

div.map table#options {
    width: 502px;
}

div.map table#options tbody td {
    padding-left: 4px;
}

div.map table#raidFavs {
    width: 502px;
}

div.map table#raidFavs thead td {
    white-space: nowrap;
}

div.map table#raidFavs th, div.map table#raidFavs td {
    padding: 2px 7px;
    text-align: center;
}

div.map table#raidFavs td.del {
    padding: 2px;
    width: 4%;
}

div.map table#raidFavs td.vil {
    text-align: left;
}

div.map table#raidFavs td.vil img {
    float: right;
}